.centeredContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.createAccount {
  margin: -10px 30px 20px 30px;
}
